body {
    background-image: url("../images/backgroundimg.jpg"); 
    
    background-repeat: no-repeat;
    background-size: cover; 
    
}
html, body {
    height: 100%;
}

/* Style for the footer */
.footer {
    position: fixed;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    color: #79BCB8;
    font-size: 14px;
}
